name: CI/CD Backend & Frontend to Docker Hub

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  BACKEND_IMAGE: cristianboni22/backend-app
  FRONTEND_IMAGE: cristianboni22/frontend-app
  IMAGE_TAG: latest

jobs:
  # ----------------------
  # TEST BACKEND
  # ----------------------
  test-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install backend dependencies
        run: |
          pip install --upgrade pip
          pip install -r backend/requirements.txt

      - name: Run backend tests
        run: |
          python -m unittest discover backend/tests

  # ----------------------
  # TEST FRONTEND
  # ----------------------
  test-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install frontend dependencies
        run: |
          cd frontend
          npm install

      - name: Run frontend tests
        run: |
          cd frontend
          npm test -- --watchAll=false

  # ----------------------
  # BUILD & PUSH DOCKER HUB
  # ----------------------
  build-and-push:
    needs: [test-backend, test-frontend]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_HUB_TOKEN }}" | docker login -u "cristianboni22" --password-stdin

      # Backend
      - name: Build & Push Backend Image
        run: |
          docker build -t $BACKEND_IMAGE:$IMAGE_TAG ./backend
          docker push $BACKEND_IMAGE:$IMAGE_TAG

      # Frontend
      - name: Build & Push Frontend Image
        run: |
          docker build -t $FRONTEND_IMAGE:$IMAGE_TAG ./frontend
          docker push $FRONTEND_IMAGE:$IMAGE_TAG
